  <form id="form" action="/autentication/signup" method="POST">
    <label for="username">Username</label><br>
    <input type="text" name="username"
      placeholder="{{data.username}}">
 <label for="email">Email</label><br>
    <input type="email" name="email"
      placeholder="{{data.email}}">

    <label for="password">Password</label><br>
    <input type="password" name="password"
      placeholder="********">

    <button type="submit">Update Profile</button>
  </form>